$input-placeholder: #c2c2c2;
$input-bg: white;
$input-border: 1px solid #c2c2c2;
$input-color: #a4a4a4;
$input-font-size: 14px;

$form-max-width: 550px;
$input-max-width: 375px;

$inline-label-color: #343434;
$radio-check-active: #a1a1a1;
