@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
ul.primary, .menu-main ul, .menu-footer ul { margin: 0; padding: 0; list-style: none; }
ul.primary li, .menu-main ul li, .menu-footer ul li { padding: 0; }
ul.primary li:before, .menu-main ul li:before, .menu-footer ul li:before { content: none; }

.element-invisible { display: none; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: opacity 0.2s ease-in-out; -webkit-transition-delay: 0; -moz-transition: opacity 0.2s ease-in-out 0; -o-transition: opacity 0.2s ease-in-out 0; transition: opacity 0.2s ease-in-out 0; }

html, body { height: 100%; }

body { font-family: "Open Sans", sans-serif; font-size: 16px; line-height: 1.6; color: #404040; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

html { font-size: 100%; background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: "Open Sans", sans-serif; }

body { margin: 0; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 68px; margin: 0 0 32px 0; }

h2 { font-size: 42px; margin: 0 0 24px 0; }

h3 { font-size: 26px; margin: 0 0 18px 0; }

h4 { font-size: 20px; margin: 0 0 12px 0; }

h5 { font-size: 16px; margin: 0 0 8px 0; }

h6 { font-size: 14px; margin: 0 0 8px 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

p, pre { margin: 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

.wrapper { position: relative; width: 100%; max-width: 1140px; padding: 0 20px; margin: 0 auto; }

header { margin-bottom: 40px; }

section { position: relative; overflow: hidden; clear: both; }
section > article { width: 100%; }
@media only screen and (min-width: 801px) { .one-sidebar section > article { float: left; width: calc(100% - 25%); padding-left: 40px; }
  .two-sidebars section > article { float: left; width: calc(100% - 25% - 25%); padding: 0 40px; } }
section > aside.sidebar { width: 100%; }
@media only screen and (min-width: 801px) { section > aside.sidebar.sidebar-first { width: 25%; float: left; }
  section > aside.sidebar.sidebar-second { width: 25%; float: left; } }

footer { background: #e0e0e0; padding: 10px 20px; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", sans-serif; font-weight: 300; line-height: 1.2; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 68px; color: #404040; margin: 0 0 32px 0; }
h1 a { color: #404040; }
h1 a:hover { color: #404040; }

h2 { font-size: 42px; color: #404040; margin: 0 0 24px 0; }
h2 a { color: #404040; }
h2 a:hover { color: #404040; }
h2 + img.alignright, h2 + img.alignleft, h2 + img.alignnone, h2 + img.aligncenter { margin-top: 0px; }
h2 + img + p { margin-top: 0px; }

h3 { font-size: 26px; color: #404040; margin: 0 0 18px 0; }
h3 a { color: #404040; }
h3 a:hover { color: #404040; }
h3 + img.alignright, h3 + img.alignleft, h3 + img.alignnone, h3 + img.aligncenter { margin-top: 10px; }

h4 { font-size: 20px; color: #404040; margin: 0 0 12px 0; }
h4 a { color: #404040; }
h4 a:hover { color: #404040; }

p { font-size: 16px; font-weight: 400; line-height: 1.6; color: #404040; margin-bottom: 24px; }
p img { margin: 0; }
p + img.alignright, p + img.alignleft, p + img.alignnone, p + img.aligncenter { margin-top: 0px; }

hr { clear: both; height: 0; border: 0; border: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0; margin: 10px 0 10px; }

code, pre { font-size: 15px; }

blockquote { margin-bottom: 24px; background: white; border-left: 10px solid #e0e0e0; padding: 20px 15px; }
blockquote p { display: inline; }
blockquote p:last-child { margin-bottom: 0; }
blockquote cite { display: block; text-align: right; }

address { font-size: 16px; line-height: 1.6; color: #404040; margin-bottom: 20px; }

em, i { font-style: italic; }

b, strong { font-weight: bold; }

small { font-size: 1.1em; }

cite { font-size: 14px; }

sub, sup { font-size: .7em; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

a, a:visited { color: #3372df; text-decoration: underline; outline: 0; }

a:hover, a:focus { color: #3372df; text-decoration: none; }

p a, p a:visited { line-height: inherit; }

ul, ol { list-style: none; margin: 0 0 24px; }

ul li { position: relative; padding-left: 32px; }
ul li::before { content: '\2022'; display: block; font-weight: 400; position: absolute; top: 0; left: 0; }

ol { counter-reset: list; }
ol > li { position: relative; padding-left: 32px; }
ol > li::before { counter-increment: list; content: "0" counter(list); font-weight: bold; color: inherit; display: inline-block; position: absolute; left: 0; }
ol > li:nth-child(10n) ~ li::before, ol > li:nth-child(10n)::before { content: counter(list); }

ul ol, ol ul { padding-top: 0; }

img, video, object { max-width: 100%; }

figure { margin-bottom: 24px; display: table; }
figure img { width: 100%; }
@media only screen and (min-width: 500px) { figure.float-right { margin: 24px 0 24px 24px; }
  figure.float-left { margin: 24px 24px 24px 0; } }
@media only screen and (max-width: 499px) { figure { width: 100% !important; }
  figure.float-right, figure.float-left { display: block; float: none; margin: 0; margin-bottom: 24px; } }

figcaption, figcaption p { display: block; width: 100%; font-size: 13px; line-height: 1.2; background: #f0f0f0; padding: 20px; border-top: 0; margin-top: -7px; }

table { border-collapse: collapse; text-align: left; width: 100%; font-size: 16px; border: 8px solid white; margin-bottom: 30px; clear: both; }
section.row table { margin-bottom: 0; }
table p { font-size: 16px; }
table th { color: #404040; font-weight: bold; padding: 6px 8px; text-transform: uppercase; }
table td { border-top: 1px dotted #e0e0e0; color: #404040; padding: 6px 8px; }
table p { margin-bottom: 0; }

table.zebra td { border: 0; }
table.zebra tbody tr:nth-child(odd) { background-color: #ccc; }

table.dark.zebra td { border: 0; }
table.dark.zebra tbody tr:nth-child(odd) { background-color: white; }

table.dark { border: 8px solid #ccc; background: #ccc; }

table.center-first td:first-child, table.center-first th:first-child { text-align: center; }

table.center-2nd td:nth-child(2n), table.center-2nd th:nth-child(2n) { text-align: center; }

table.center-3rd td:nth-child(3n), table.center-3rd th:nth-child(3n) { text-align: center; }

table.center-4th td:nth-child(4n), table.center-4th th:nth-child(4n) { text-align: center; }

table.center-last td:last-child, table.center-last th:last-child { text-align: center; }

@media only screen and (max-width: 799px) { table.responsive { margin-bottom: 0; }
  table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
  table.responsive td th:first-child, table.responsive td td:first-child, table.responsive th th:first-child, table.responsive th td:first-child { display: none; }
  .pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
  .pinned table { border-right: none; border-left: none; width: 100%; }
  .pinned table th, .pinned table td { white-space: nowrap; }
  .pinned table td { display: none; }
  .pinned table td:last-child { border-bottom: 0; }
  div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
  div.table-wrapper div.scrollable { margin-left: 35%; overflow: scroll; overflow-y: hidden; } }
.button, input[type="submit"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; background: #3372df; color: white; min-width: 125px; padding: 10px 15px; margin-bottom: 20px; text-align: center; text-decoration: none; outline: 0; border: 0; margin: 10px 15px 10px 0; }
.button:hover, input[type="submit"]:hover { background: #444; color: #ffffff; text-decoration: none; }

.breadcrumb { margin-bottom: 20px; }
.breadcrumb a { font-weight: bold; text-transform: uppercase; text-decoration: none; }

ul.inline, ul.links.inline { display: inline; padding-left: 0; }

ul.inline li { display: inline; list-style-type: none; }

ul.primary { border-bottom: 1px solid #bbb; border-collapse: collapse; height: auto; line-height: normal; list-style: none; margin: 5px; padding: 0 0 0 1em; /* LTR */ white-space: nowrap; }

ul.primary li { display: inline; }

ul.primary li a { background-color: #ddd; border-color: #bbb; border-style: solid solid none solid; border-width: 1px; height: auto; margin-right: 0.5em; /* LTR */ padding: 0 1em; text-decoration: none; }

ul.primary li.active a { background-color: #fff; border: 1px solid #bbb; border-bottom: 1px solid #fff; }

ul.primary li a:hover { background-color: #eee; border-color: #ccc; border-bottom-color: #eee; }

ul.secondary { border-bottom: 1px solid #bbb; padding: 0.5em 1em; margin: 5px; }

ul.secondary li { border-right: 1px solid #ccc; /* LTR */ display: inline; padding: 0 1em; }

ul.secondary a { padding: 0; text-decoration: none; }

ul.secondary a.active { border-bottom: 4px solid #999; }

.menu-main { margin-bottom: 40px; }
.menu-main h2 { display: none; }
.menu-main ul li { display: inline; padding-right: 15px; }

.menu-footer { margin-bottom: 20px; }
.menu-footer h2 { display: none; }
.menu-footer ul li { display: inline; padding-right: 15px; }
